.container {
  display: flex;
  flex-direction: column;
  flex: 2;
  gap: 20px;
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: row;
  }
}

@media screen and (max-width: 640px) {
  .container {
    flex-direction: column;
  }
}
