.container {
  font-family: var(--font-mate);
  padding-top: 100px;
  padding-bottom: 100px;
}

.header {
  font-size: x-large;
  text-align: center;
}

@media screen and (max-width: 640px) {
  .header {
    font-size: large;
  }
}
