.container {
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  margin-bottom: 50px;
  background-color: var(--bg);
}

.wrapper {
  display: flex;
  min-height: 300px;
  gap: 40px;
}

.imgContainer {
  position: relative;
  flex: 1;
}

.image {
  object-fit: cover;
  object-position: 65% 35%;
}

.content {
  flex: 2;
  padding-top: 20px;
}

.title {
  font-size: xx-large;
  font-weight: 400;
}

.text {
  font-size: x-large;
  margin-top: 5px;
}
