.container {
  padding-top: 10px;
  padding-bottom: 10px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
  font-size: x-large;
  font-weight: 200;
  margin-bottom: 20px;
}

.link {
  display: flex;
  gap: 15px;
}

.imgContainer {
  display: flex;
  position: relative;
  flex: 1;
  aspect-ratio: 1/1;
  height: max-content;
  max-height: 50px;
}

.image {
  object-fit: cover;
  border-radius: 50%;
}

.textContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.blogTitle {
  font-size: medium;
  font-weight: 300;
  line-height: 15px;
}

.text {
  line-height: 15px;
  font-size: small;
}

.date {
  font-weight: 300;
  font-size: small;
  color: var(--accentOne);
}

@media screen and (max-width: 768px) {
  .container {
    flex: 1;
  }
}
