.container {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
  max-width: 1280px;
  height: fit-content;
}

.imgContainer {
  position: relative;
  height: 100%;
  width: 100%;
  max-width: 460px;
  display: flex;
  justify-self: right;
}

.image {
  object-fit: cover;
}

.textWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: start;
}

.title {
  font-size: 1.5rem;
}

.text {
  font-size: medium;
}

.button {
  background-color: var(--accentOne);
  border: none;
  padding: 10px 20px !important;
  display: flex;
  width: 30%;
  min-width: 30px;
  font-family: var(--font-afacad) !important;
  font-size: 1rem;
  text-align: center;
  justify-content: center;
  margin-top: 10px;
  color: white;
  font-weight: 500;
  cursor: pointer;
}

:hover.button {
  background-color: var(--accentOneLight);
}

@media screen and (max-width: 1280px) {
  /* .wrapper {
    max-width: 1024px;
  } */
}

@media screen and (max-width: 1024px) {
  /* .wrapper {
    max-width: 768px;
    padding-left: 40px;
    padding-right: 40px;
  } */
  .text {
    font-size: smaller;
  }

  .button {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .text {
    font-size: smaller;
  }

  .button {
    width: 50%;
  }
}

@media screen and (max-width: 640px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .button {
    width: 30%;
  }
  .imgContainer {
    position: relative;
    min-height: 250px;
    width: 100%;
    max-width: 460px;
  }
}
