.container {
  background-color: var(--bg);
  min-height: 70.5px;
}

.wrapper {
  max-width: 1536px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.logo {
  color: var(--accentOne);
  align-content: center;
}

.links {
  flex: 1;
  display: flex;
  gap: 20px;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
}

.links > children {
  cursor: pointer;
}

.social {
  display: flex;
  flex: 1;
  justify-content: right;
  gap: 10px;
}

.socialIcons {
  cursor: pointer;
  display: flex;
}

/* Break points */

@media screen and (max-width: 1536px) {
  .wrapper {
    max-width: 1366px;
  }
}

@media screen and (max-width: 1280px) {
  .wrapper {
    max-width: 1024px;
  }
}

@media screen and (max-width: 1024px) {
  .wrapper {
    max-width: 768px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    max-width: 640px;
  }
}

@media screen and (max-width: 640px) {
  .container {
    min-height: 61.5px;
  }
  .wrapper {
    max-width: 475px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .social {
    display: none;
  }
  .link {
    display: none;
  }
  .links {
    display: flex;
    justify-content: end;
  }
}
