.container {
  background-color: var(--bg);
}

/* .social {

} */

.links {
  flex: 1;
  display: flex;
  gap: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.logo {
  color: var(--accentOne);
}

.social {
  display: flex;
  flex: 1;
  justify-content: right;
  gap: 10px;
}

.wrapper {
  max-width: 1536px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Break points */

@media screen and (max-width: 1536px) {
  .wrapper {
    max-width: 1366px;
  }
}

@media screen and (max-width: 1280px) {
  .wrapper {
    max-width: 1024px;
  }
}

@media screen and (max-width: 1024px) {
  .wrapper {
    max-width: 768px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    max-width: 640px;
  }
}

@media screen and (max-width: 640px) {
  .wrapper {
    max-width: 475px;
  }
}
