.container {
  padding-top: 10px;
  padding-bottom: 10px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
  font-size: x-large;
  font-weight: 200;
  margin-bottom: 20px;
}

.category {
  text-align: center;
  align-self: start;
  line-height: 10px;
  padding: 4px 6px 6px 6px;
  font-weight: 500;
  margin-bottom: 4px;
  color: white;
  border-radius: 4px;
}

.joy {
  background-color: var(--accentThree);
}

.faith {
  background-color: var(--accentTwo);
}

.life {
  background-color: var(--accentFour);
}

.fear {
  background-color: var(--accentOne);
}

.link {
  display: flex;
  flex-direction: column;
}

.textContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.blogTitle {
  font-size: medium;
  font-weight: 300;
}

.text {
  line-height: 15px;
  font-size: small;
}

.date {
  font-weight: 300;
  font-size: small;
  color: var(--accentOne);
}

@media screen and (max-width: 768px) {
  .container {
    flex: 1;
  }
}
